In [1]:
n=int(input("enter n :"))
for i in range(n):
    for j in range(i+1):
        print("1",end=' ')
    print()

# in this way all star patterns can be written in numerical patterns

enter n :5
1
1 1
1 1 1
1 1 1 1
1 1 1 1 1

In [2]:
n=int(input("enter n :"))
p=1
for i in range(n):
    for j in range(i+1):
        print(p,end=' ')
    p=p+1
    print()

#in this way any star pattern can be made in increasing pattern

enter n :5
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [3]:
n=int(input("enter n :"))
p=n
for i in range(n):
    for j in range(i+1):
        print(p,end=' ')
    p-=1
    print()
#in this way any star pattern can be made in decreasing pattern

enter n :5
5
4 4
3 3 3
2 2 2 2
1 1 1 1 1

In [4]:
n=int(input("enter n :"))
for i in range(n):
    for j in range(i+1):
        if i%2==0:
            print("1",end=' ')
        else:
            print("2",end=' ')
    print()

# in this way alternative number patterns can be printed for any star patterns

enter n :5
1
2 2
1 1 1
2 2 2 2
1 1 1 1 1

In [5]:
n=int(input("enter n :"))
p=1
for i in range(n):
    for j in range(i+1):
        print(p,end=' ')
    p+=2
    print()

#in this way any star pattern can be made

enter n :5
1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

In [6]:
n=int(input("enter n :"))
p=1
for i in range(n):
    for j in range(i,n):
        print(" ",end=' ')
    for j in range(i+1):
        print(p,end=' ')
    for j in range(i):
        print(p,end=' ')
    p+=1
    print()
for i in range(n):
    for j in range(i+2):
        print(" ",end=' ')
    for j in range(i+2,n):
        print(p,end=' ')
    for j in range(i,n-1):
        print(p,end=' ')
    p+=1
    print()

enter n :5
          1
        2 2 2
      3 3 3 3 3
    4 4 4 4 4 4 4
  5 5 5 5 5 5 5 5 5
    6 6 6 6 6 6 6
      7 7 7 7 7
        8 8 8
          9

In [7]:
n=int(input("enter n :"))
p=1
for i in range(n):
    for j in range(i,n):
        print(" ",end=' ')
    for j in range(i+1):
        print(p,end=' ')
    for j in range(i):
        print(p,end=' ')
    p+=1
    print()
p=p-2
for i in range(n):
    for j in range(i+2):
        print(" ",end=' ')
    for j in range(i+2,n):
        print(p,end=' ')
    for j in range(i,n-1):
        print(p,end=' ')
    p-=1
    print()

enter n :5
          1
        2 2 2
      3 3 3 3 3
    4 4 4 4 4 4 4
  5 5 5 5 5 5 5 5 5
    4 4 4 4 4 4 4
      3 3 3 3 3
        2 2 2
          1

In [8]:
n=int(input("enter n :"))
for i in range(n):
    p=1
    for j in range(i+1):
        print(p,end=' ')
        p+=1
    print()

enter n :5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [9]:
n=int(input("enter n :"))
for i in range(n):
    p=1
    for j in range(i,n):
        print(" ",end=' ')
    for j in range(i+1):
        print(p,end=' ')
        p+=1
    print()

enter n :5
          1
        1 2
      1 2 3
    1 2 3 4
  1 2 3 4 5

In [10]:
n=int(input("enter n :"))
for i in range(n):
    p=1
    for j in range(i+1):
        print(" ",end=' ')
    for j in range(i,n):
        print(p,end=' ')
        p+=1
    print()

enter n :5
  1 2 3 4 5
    1 2 3 4
      1 2 3
        1 2
          1

In [11]:
n=int(input("enter n :"))
for i in range(n):
    p=1
    for j in range(i,n):
        print(" ",end=' ')
    for j in range(i):
        print(p,end=' ')
        p+=1
    for j in range(i+1):
        print(p,end=' ')
        p+=1
    print()

enter n :5
          1
        1 2 3
      1 2 3 4 5
    1 2 3 4 5 6 7
  1 2 3 4 5 6 7 8 9

In [12]:
n=int(input("enter n :"))
for i in range(n):
    p=n
    for j in range(i+1):
        print(p,end=' ')
        p-=1
    print()

enter n :5
5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [13]:
n=int(input("enter n :"))
for i in range(n):
    p=n
    for j in range(i,n):
        print(p,end=' ')
        p-=1
    print()

enter n :5
5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

In [14]:
n=int(input("enter n :"))
k=n
for i in range(n):
    p=k
    for j in range(i+1):
        print(" ",end=' ')
    for j in range(i,n):
        print(p,end=' ')
        p-=1
    k-=1
    print()

enter n :5
  5 4 3 2 1
    4 3 2 1
      3 2 1
        2 1
          1

In [15]:
n=int(input("enter n :"))
for i in range(n):
    p=1
    for j in range(i,n):
        print(" ",end=' ')
    for j in range(i):
        print(p,end=' ')
        p+=1
    for j in range(i+1):
        print(p,end=' ')
        p-=1
    print()

enter n :5
          1
        1 2 1
      1 2 3 2 1
    1 2 3 4 3 2 1
  1 2 3 4 5 4 3 2 1

In [16]:
n=int(input("enter n :"))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end=' ')
    for j in range(i,n):
        print(" ",end=' ')
    for j in range(i,n):
        print(" ",end=' ')
    for j in range(i,0,-1):
        print(j,end=' ')
    print()

for i in range(n-1,0,-1):
        for j in range(1,i+1):
            print(j,end=' ')
        for j in range(i,n):
            print(" ",end=' ')
        for j in range(i,n):
            print(" ",end=' ')
        for j in range(i,0,-1):
            print(j,end=' ')
        print()

enter n :5
1                 1
1 2             2 1
1 2 3         3 2 1
1 2 3 4     4 3 2 1
1 2 3 4 5 5 4 3 2 1
1 2 3 4     4 3 2 1
1 2 3         3 2 1
1 2             2 1
1                 1

In [17]:
n=int(input("enter n :"))
for i in range(1,n+1):
    for j in range(i,0,-1):
        print(j,end=' ')
    print()

enter n :5
1
2 1
3 2 1
4 3 2 1
5 4 3 2 1